.card {
  display: grid;
  position: relative;
  place-items: center;
  width: 80px;
  height: 80px;
  background-color: hsl(var(--bkg));
  user-select: none;
  border: 2px solid hsl(var(--accent));
  box-shadow: 0 0 0 hsl(var(--accent) / .2),
              0 0 0 -.3rem hsl(var(--bkg)),
              0 0 0 -.6rem hsl(var(--accent));
  transition: transform 1000ms ease;
}

[disabled], .card.matched {
  opacity: .2;
  pointer-events: none;
  cursor: not-allowed;
}